/* body {
    margin: 0
} */

/* footer,
nav,
section {
    display: block
} */

/* 
img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}
button {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button {
    text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}
button {
    outline: 0
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}
.u-link,
a {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0
} */
/* *,
:after,
:before {
    box-sizing: border-box
} */

/* html {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden
} */

body {
    height: auto;
    /* min-height: 100%;
    overflow-x: clip */
}

/* body,
footer,
section {
    position: relative
} */
 /* .u-sheet>*,
footer>*,
section>* {
    position: relative
} */
/* 
.u-clearfix:after,
.u-clearfix:before {
    content: '';
    display: table
}

.u-clearfix:after {
    clear: both
}
@media (min-width:768px) and (max-width:991px) {
    .u-sheet {
        width: var(--theme-sheet-width-md) !important
    }
}
.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
    transition-duration: inherit
}

.u-container-layout>* {
    position: relative
}
.u-list:not(.u-repeater),
.u-products:not(.u-repeater) {
    display: flex;
    flex-direction: column
}

.u-list:not(.u-repeater) .u-repeater,
.u-products:not(.u-repeater) .u-repeater {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto
}
.u-btn .u-icon,
.u-text .u-icon {
    position: relative;
    display: inline;
    line-height: inherit;
    font-size: 1em;
    fill: currentColor;
    vertical-align: middle;
    white-space: nowrap
}

.u-btn .u-icon.u-file-icon>img[src],
.u-text .u-icon.u-file-icon>img[src] {
    display: inline-block;
    height: 1em;
    width: auto;
    line-height: 1;
    vertical-align: -.15em
}
.u-layout-horizontal .u-repeater {
    grid-auto-flow: column;
    grid-auto-rows: 100%
 }
.u-carousel-control-next,
.u-carousel-control-prev,
.u-gallery-nav-next,
.u-gallery-nav-prev {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
    -webkit-text-decoration-skip: objects;
    border: none;
    margin: 0 !important;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 1
}

.u-carousel-control-next span svg,
.u-carousel-control-prev span svg,
.u-gallery-nav-next span svg,
.u-gallery-nav-prev span svg {
    vertical-align: top;
    fill: currentColor
}

.u-carousel-control-prev,
.u-gallery-nav-prev {
    left: 0
}

.u-carousel-control-next,
.u-gallery-nav-next {
    right: 0
}

.u-carousel-control>span,
.u-gallery-nav>span {
    display: inline-block;
    height: 100%;
    width: 100%
}

.u-carousel-control,
.u-gallery-nav {
    display: inline-block;
    height: 65px;
    width: 65px;
    z-index: 2
}
.sr-only {
    position: absolute;
    width: 1px !important;
    height: 1px !important;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}
.u-radius,
[class*="-radius-"] {
    --border-radius: initial;
    --border-top-left-radius: initial;
    --border-top-right-radius: initial;
    --border-bottom-right-radius: initial;
    --border-bottom-left-radius: initial;
    --radius: initial;
    --top-left-radius: initial;
    --top-right-radius: initial;
    --bottom-right-radius: initial;
    --bottom-left-radius: initial
}

.u-radius,
.u-radius:before,
.u-radius:not(.u-hover-box)>.u-container-layout,
[class*="-radius-"],
[class*="-radius-"]:before,
[class*="-radius-"]:not(.u-hover-box)>.u-container-layout {
    border-radius: var(--top-left-radius, var(--border-top-left-radius, var(--radius, var(--border-radius, 0)))) var(--top-right-radius, var(--border-top-right-radius, var(--radius, var(--border-radius, 0)))) var(--bottom-right-radius, var(--border-bottom-right-radius, var(--radius, var(--border-radius, 0)))) var(--bottom-left-radius, var(--border-bottom-left-radius, var(--radius, var(--border-radius, 0)))) !important
}
.u-body.u-palette-3-base,
.u-container-layout.u-container-layout.u-palette-3-base:before,
.u-palette-3-base,
.u-palette-3-base>.u-container-layout:before,
section.u-palette-3-base:before {
    color: #111;
    background-color: #f1c50e
}


a {
    font-size: 1.125rem;
    line-height: 1.6
}

html {
    font-size: 16px
}   */