        @import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');

        #Research_Departements_Section_Ar,
        #Research_Departements_Section_En {
            background-color: black;
            padding: auto;
            padding-top: 100px;
            padding-bottom: 100px;
            word-spacing: 0.25rem;
        }

        /* a{
            text-decoration: none;
            color: white;
            transition: 3s;
            transition-duration: 1s;
            transition-delay: 0.1s;
        }

        a:hover{
            transform: scale(1.25);
            transform: scale(1);
        } */

        /* a {
            position: relative;
            text-decoration: none;
            color: white;
        }

        a::after {
            content: '';
            position: absolute;
            width: 0%;
            height: 2px;
            left: 0;
            bottom: 0;
            background-color: #007BFF;
            transition: width 0.3s ease;
        }

        a:hover::after {
            width: 100%;
        } */

        /* a {
            color: white;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        a:hover {
            color: #007BFF;
        } */

        #Research_Departements_Section_Ar a,
        #Research_Departements_Section_En a {
            text-decoration: none;
            color: white;
            transition: text-shadow 0.5s ease;
        }

        #Research_Departements_Section_Ar a:hover,
        #Research_Departements_Section_En a:hover {
            text-shadow: 0 0 25px rgb(0, 255, 0);
            /* text-shadow: 0 0 15px red; */
        }


        ul {
            width: min(100%, 80rem);
            overflow: hidden;
            margin-inline: auto;
            padding-inline: clamp(1rem, 5vw, 4rem);
            list-style: none;
            perspective: 1000px;
            display: grid;
            row-gap: 0.5rem;
        }

        ul li.card {
            position: relative;
            padding-block: 1.5rem;
            padding-inline: 2rem;
            background-color: var(--bg-color);
            background-image: linear-gradient(to right, rgb(0 0 0 / .15), transparent);
            transform-style: preserve-3d;
            color: var(--color);

            display: grid;
            grid-template: 'icon''title''content';
            row-gap: 0.5rem;
            column-gap: 2rem;
        }

        ul li.card::before,
        ul li.card::after {
            --side-rotate: 55deg;
            content: "";
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            transform-origin: calc(50% - (50% * var(--ry))) 50%;
            transform: rotateY(calc(var(--side-rotate) * var(--ry)));
            background-color: inherit;
            background-image: linear-gradient(calc(90deg * var(--ry)), rgb(0 0 0 / .25), rgb(0 0 0 / .5));
        }

        ul li.card::before {
            --ry: -1;
            right: 100%
        }

        ul li.card::after {
            --ry: 1;
            left: 100%
        }

        #Research_Departements_Section_Ar ul li.card .icon {
            grid-area: title;
            display: grid;
            place-items: center;
        }

        #Research_Departements_Section_En ul li.card .icon {
            grid-area: icon;
            display: grid;
            place-items: center;
        }

        ul li.card .icon i {
            font-size: 2rem;
        }

        #Research_Departements_Section_Ar ul li.card .title {
            grid-area: icon;
            font-size: 1.5rem;
            font-weight: 700;
            text-align: right;
        }

        #Research_Departements_Section_En ul li.card .title {
            grid-area: title;
            font-size: 1.5rem;
            font-weight: 700;
            text-align: left;
        }

        ul li.card .content {
            grid-area: content;
        }

        @media (max-width: 480px) {
            #Research_Departements_Section_Ar ul li.card .icon {
                grid-area: icon;
                display: grid;
                place-items: center;
                justify-content: center;
            }

            #Research_Departements_Section_Ar ul li.card .title,
            #Research_Departements_Section_En ul li.card .title {
                grid-area: title;
                font-size: 1.25rem;
                font-weight: 700;
                text-align: center;
                margin-top: 20px;
            }
        }

        @media (min-width: 30rem) {

            #Research_Departements_Section_Ar ul li.card .icon {
                grid-area: title;
                display: grid;
                place-items: center;
                justify-content: end;
            }

            #Research_Departements_Section_En ul li.card .icon {
                grid-area: icon;
                display: grid;
                place-items: center;
                justify-content: space-between;
            }

            ul li.card {
                grid-template: 'icon title''icon content';
                text-align: center;
            }

            ul li.card .title {
                text-align: center
            }
        }